@font-face {
    font-family: "Cairo";
    src: url("fonts/Cairo-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Cairo-Bold";
    src: url("fonts/Cairo-Bold.ttf") format("truetype");
  }
  