@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Cairo-Bold";
  src: url("fonts/Cairo-Bold.ttf") format("truetype");
}

.container {
  font-family: "Cairo", sans-serif;

  .current-status {
    .list-group {
      .first-row {
        .list-group.list-group-horizontal {
          .list-group-item {
            &.list-group-header {
              color: rgb(163, 163, 163);
              font : {
                size: 16px;
                family: "Cairo";
              }
              text-transform: unset;
            }

            &.red {
              color: red;
            }

            &.yellow {
              color: #f9ba02;
            }

            &.green {
              color: #36b600;
            }
            color: rgb(17, 27, 55);
            background: transparent;
            font : {
              size: 16px;
              family: "Cairo-Bold";
            }
            text-transform: uppercase;
            width: 25%;
          }
          .show-date {
            text-transform: lowercase;
          }
        }
      }

      .second-row {
        .steps-details {
          -webkit-columns: 2;
          -moz-columns: 2;
          columns: 2;
          li {
            color: rgb(17, 27, 55);
            width: 125%;
            margin-top: -10px;
            background: transparent;
            font : {
              size: 16px;
              family: "Cairo-Bold";
            }
          }
          .first-step {
          }
          .second-step {
          }
          .third-step {
            
          }
          .fourth-step {
            
          }
        }
        .steps-bar {
          width: 95%;
          margin: 2%;
          .accomplished.green {
            background-color: #36b600;
          }
          .accomplished.red {
            background-color: #f40105;
          }
          .accomplished.yellow {
            background-color: #f8b902;
            &.big-icon {
              width: 40px;
              height: 40px;
            }
          }
        }
        ul {
          .tracking-progress-bar {
          }
        }
        .list-group {
          .details {
            .list-group-item {
            }
          }
          .extra-details {
            .list-group-item {
              font : {
                size: 14px;
              }
              margin: -5px;
            }
          }
        }
      }
    }
  }

  .tracking-events {
    .list-group {
      .list-group-item {
        color: #121c38;
        font : {
          size: 20px;
        }
        &.tracking-details-area {
          width: 56%;
        }
        &.receiving-address-area {
        }
      }
    }

    .tracking-details-table {
      width: 55%;

      ul {
        .tracking-details-header {
          width: 18%;
          color: #99a4b9;
          background: transparent;
        }
      }
    }
    .tracking-details-items {
      width: 55%;
      ul {
        .tracking-details-item {
          width: 18%;
          background: transparent;
          color: #585e72;
        }
      }
    }

    .tracking-address-table {
    }
  }
}

.table {
  width: 55%;
  .thead {
    .tr {
      .th {
        font-size: 30px;

        background: red;
      }
    }
  }
}

.big {
  width: 40px;
  height: 40px;
}
