@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Cairo-Bold";
  src: url("fonts/Cairo-Bold.ttf") format("truetype");
}

.container {
  font-family: "Cairo", sans-serif;

  .current-status {
    .list-group {
      .first-row {
        .list-group.list-group-horizontal {
          .list-group-item {
            &.list-group-header {
              color: $secondry-color;
              font : {
                size: 16px;
                family: "Cairo";
              }
              text-transform: unset;
            }

            &.red {
              color: $red-color;
            }

            &.yellow {
              color: $yellow-color;
            }

            &.green {
              color: $green-color;
            }
            color: $primary-color;
            background: transparent;
            font : {
              size: 16px;
              family: "Cairo-Bold";
            }
            text-transform: uppercase;
            width: 25%;
          }
          .show-date {
            text-transform: lowercase;
          }
        }
      }

      .second-row {
        .steps-details {
          -webkit-columns: 2;
          -moz-columns: 2;
          columns: 2;
          li {
            color: $primary-color;
            width: 125%;
            margin-top: -10px;
            background: transparent;
            font : {
              size: 14px;
              family: "Cairo-Bold";
            }
          }
          .first-step {
            width: 20%;
          }
          .second-step {
            width: 26%;
            padding-left: 5%;
          }
          .third-step {
            width: 40%;
            padding-left: 8%;
          }
          .fourth-step {
            width: 17%;
            .colored {
              color: $primary-color;
            }
            .not-colored {
              color: #d3d3d3;
            }
          }
        }
        .steps-bar {
          width: 95%;
          margin: 2%;
          .accomplished.green {
            background-color: $green-color;
          }
          .accomplished.red {
            background-color: $red-color
          }
          .accomplished.yellow {
            background-color: $yellow-color;
          }
          &.big-icon {
            width: 40px;
            height: 40px;
          }
        }
        ul {
          .tracking-progress-bar {
          }
        }
        .list-group {
          .details {
            .list-group-item {
            }
          }
          .extra-details {
            .list-group-item {
              font : {
                size: 14px;
              }
              margin: -5px;
            }
          }
        }
      }
    }
  }

  .tracking-events {
    .list-group {
      .list-group-item {
        color: $primary-color;
        font : {
          size: 20px;
        }
        &.tracking-details-area {
          width: 56%;
        }
        &.receiving-address-area {
        }
      }
    }

    .tracking-details-table {
      width: 55%;

      ul {
        .tracking-details-header {
          width: 18%;
          color: $secondry-color;
          background: transparent;
        }
      }
    }
    .tracking-details-items {
      width: 55%;
      ul {
        .tracking-details-item {
          width: 18%;
          background: transparent;
          color: $secondry-color;
        }
      }
    }

    .tracking-address-table {
    }
  }

  //Shipment Details area
  .Shipment_Details {
    
    margin-top: 25px;

    .details_head {
      .head_left {
        font-size: 20px;
        color: $primary-color;
        float: left;
        width: 50%;
        font-weight: 700;
      }
    }
    .clear {
      clear: both;
    }
    .details_head_table {
      margin-top: 20px;
      table {
        width: 65%;
        margin: 0 0 15px 0;
        @include border(1px solid #EEEEEE , none);
        @include prefixer( border-radius , 20px, webkit moz o);
        font-size: 14px;
        text-align: left;
        border-spacing: 0;
        border-collapse: collapse;
        tbody {
          display: table-row-group;
          vertical-align: middle;
          border-color: inherit;
          
          .table-row {
            @include border(1px solid #EEEEEE , none);
            display: table-row;
            vertical-align: inherit;
            height: 50px;
            color:  $secondry-color;
            
            
            &.table-header-first {
              background-color: #fafafa;
            }
            .th-content {
            
              padding-left: 4%;
              color: #9BA5BB;
              
          
            }  
            .td-content {
            
                padding-left: 4%;
                color:  $table-items-color;

              
            }
          }
        }
      }
    }
  }
}

