footer {
    background: #060313;
    width: 100%;
    height: 100px;

    p{
        font-size: 0.9rem;
        span{
            color: $primary-color;
        }
    }
    .list-group {
        .list-group-item {
            background: transparent;
            border: transparent;
            padding: 10px;
            a {
                color: $primary-color;
                .fa.fa-behance.fa-2x {
                    padding-top: 1px;
                }

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
}
